<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${LOG_PATH}${LOG_FILE}</File>
        <encoder>
            <pattern>%date [%level] [%thread] %logger{60} [%file : %line] %msg%n</pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH}daily/${LOG_FILE}.%d{yyyy-MM-dd}.gz</fileNamePattern>
            <maxHistory>180</maxHistory> <!-- 保留180天 -->
        </rollingPolicy>
    </appender>

    <logger name="springfox.documentation.spring.web.readers.operation" additivity="false">
        <level value="WARN"/>
    </logger>

    <logger name="org.quartz.core.QuartzScheduler" additivity="false">
        <level value="WARN"/>
    </logger>

    <logger name="com.xxl.job.admin.core.thread.JobFailMonitorHelper" additivity="false">
        <level value="WARN"/>
    </logger>

    <logger name="io.zhiye.threeLives.common.cacheConf.utils.CacheConfigUtil" additivity="false">
        <level value="INFO"/>
    </logger>

    <logger name="RocketmqClient" additivity="false">
        <level value="WARN"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>